################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AvinyaQuickComAPI/FileContentIndex/89cc99ae-696e-4c45-a3ff-79df33d250b3.vsidx
/.vs
/PrashanthQuickComAPI/.vs/PrashanthQuickComAPI/FileContentIndex
